.otherUser {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;


}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.otherUser img {
    width: 10rem;
    height: 10rem;
}