body {
    height: 100vh;
}

.otherUser {
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    height: 13rem;

}

.otherUser .card-title {
    font-weight: bold;
    font-size: 3rem;
}

.otherUser img {
    height: 10rem;
    width: 5rem;
}

@media screen and (max-width: 768px) {

    .otherUser {
        width: 75%;
    }

    .otherUser img {
        height: 15rem;
        width: 15rem;
    }
}