.pitch__container {
    background-color: white;
    width: 100%;
}

.pitch__question {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .pitch__collection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}