.infographic__container {
    margin-bottom: 8rem;
}


@media screen and (max-width: 768px) {
    .infographic__image img {
        position: absolute;
        width: 10rem;
        height: 8rem;
    }

    .infographic__image {
        margin-bottom: 2rem;
    }
}