.userPic {
    height: 12rem;
    width: 12rem !;
    border-radius: 50%;
}

.userFullName {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
}

.userName {
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
}

@media only screen and (max-width: 768px) {
    .userPic {
        height: 9rem;
        width: 9rem;
    }
}


.socials__bar {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 1rem;

}

.socials__bar li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease-in-out;
}

.socials__bar li:hover {
    cursor: pointer;
    margin-top: -1px;
    height: 110%;
}

.shadow {
    border-radius: 500px !important;
}

.icon {
    margin-right: 1rem;
}